* {
    color: white;
}

.App {
    height: auto;
    padding-top: 56px;
}

.bg {
    background-image: url("../public/images/camouflage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

.active-link span {
    border-top: 1px solid #f0ad4e;
    border-bottom: 1px solid #f0ad4e;
    padding: 2px 0;
}

.element {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    width: 95%;
    height: 30vh;
    object-fit: cover;
}

.carousel-wrapper {
    width: 90%;
    align-items: center;
    margin: 2% 5%;
}