* {
    color: white;
}

.App {
    height: auto;
    padding-top: 70px;
}

.bg {
    background-image: url("../public/images/camouflage.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
    /* max-width: 100vh; */
}

.active-link span {
    border-top: 1px solid #f0ad4e;
    border-bottom: 1px solid #f0ad4e;
    padding: 2px 0;
}

.nav-item {
    margin-right: 15px;
}

.element {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    width: 95%;
    height: 30vh;
    object-fit: cover;
}

.carousel-wrapper {
    width: 90%;
    align-items: center;
    margin: 2% 5%;
}


@media (min-width: 601px) {
    .custom-dropdown {
        right: 0;
        left: auto;
    }
}


@media (max-width: 600px) {
    .custom-dropdown {
        left: 0;
        right: auto;
    }
}